<%= form_with scope: :session, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit 'Log In' %>
<% end %>
<p>Don't have an account? <a href="#">Sign up</a></p>