<%= render 'shared/errors', obj: @category %>
<%= form_with model: [@user, @category], local: true do |form| %>
  <div class='mb-3'>
    <%= form.label :name, class: 'form-label' %>  
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter category name' %>
  </div>
  <%= form.submit class: 'btn btn-primary col-md-4 me-3' %>

<% end %>
